<div class="page-wrapper">
    <div class="nav-wrapper">
     <div class="grad-bar"></div>
     <nav class="navbar">
       <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo">
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
       <ul class="nav no-search">
         <li class="nav-item" routerLinkActive="active"><a href="#">Home</a></li>
         <li class="nav-item" routerLinkActive="active"><a href="#about" routerLink="/about">About</a></li>
         <li class="nav-item" routerLinkActive="active"><a href="#log-in" routerLink="/log-in">Log In</a></li>
         <li class="nav-item"><a routerLinkActive="active" href="#sign-up" routerLink="/sign-up">Sign Up</a></li>
         <li class="nav-item"><a routerLinkActive="active" href="#contact-us" routerLink="/contact-us">Contact Us</a></li>
       </ul>
     </nav>
     
   </div>

   